img{
      width: 60%;
      border-radius: 25px;
      
    }
    
   .im{
     text-align: center;
   }
    
    
    h3{
      text-align: center;
      color: #cc1313; 
    }
    
    h3 b{
      color: red;
    }
    
    .txt{
      text-align: center;
      
    }
    
    .txt h5{
      color: #e71919;
      animation: ani 3s infinite;
    }
    
    @keyframes ani{
      0%{
        color: #01ff00;
      }
      25%{
        color: #9d00ff;
      }
      50%{
        color: red;
      }
      75%{
        color: yellow;
      }
      100%{
        color: #ff6a00;
      }
    }
